.slide img{
    width: 800px;
    height: 400px;
}
.slide:not(:last-child){
    margin-right:30px;
}
.slides_container{
    display: flex;
    width: 600%;
    height: 400px;  
}
.slider{
    width: 800px;
    height: 400px;
    /* overflow: hidden; */
    position: relative;
}
.top-slider{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100vw; */
    overflow: hidden;
}
.slides_container input{
    display: none;
}
.manual label:not(:last-child){
    margin-right: 10px;
}
.manual label:hover{
    background: radial-gradient(rgb(93, 5, 165),rgb(255, 255, 255));
}
#radio1:checked ~ #first{
    margin-left: 0px;
    transition: 1s;
}
#radio2:checked ~ #first{
    margin-left: -830px;
    transition: 1s;
}
#radio3:checked ~ #first{
    margin-left: -1659px;
    transition: 1s;
}
#radio4:checked ~ #first{
    margin-left: -2489px;
    transition: 1s;
}
#radio5:checked ~ #first{
    margin-left: -3319px;
    transition: 1s;
}
#radio6:checked ~ #first{
    margin-left: -4149px;
    transition: 1s;
}
.but{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.but button{
    font-size: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 0, 0.328);
    color: white;
    margin-left: -80px;
    margin-right: -80px;
}
.but button:hover{
    background-color: rgba(255, 255, 255, 0.781);
    color: black;
}



